Flask==3.0.3
pandas==2.2.3
openai==0.28.0
dash==2.18.2
plotnine==0.14.1
callbacks==0.3.0
numpy==1.24.4
transformers==4.46.2
SQLAlchemy==2.0.15
torch==2.0.0
tqdm==4.66.6
langchain==0.3.7
langchain-core==0.3.15
langchain-text-splitters==0.3.2
typing_extensions==4.12.2
importlib_metadata==8.4.0
importlib_resources==6.4.5
PyMySQL==1.1.1
pdfplumber==0.11.4
yfinance==0.2.27
geopandas==1.0.1
seaborn==0.12.2
scikit-learn
openpyxl==1.52.2
python-dotenv
mysql-connector-python
